html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

/*Polices*/
@font-face {
    font-family: Calibri;
    src: url('fonts/Calibri.ttf');
}

@font-face {
    font-family: Calibri Light;
    src: url('fonts/Calibri-Light.ttf');
}

@font-face {
    font-family: Calibri Bold;
    src: url('fonts/Calibri-Bold.ttf');
}

@font-face {
    font-family: Calibri Italic;
    src: url('fonts/Calibri-Italic.ttf');
}

/*Header*/
header {
    background-color: #ed5d01;
    color: white;
    height: 100px;
}

#logo {
    display: flex;
    align-items: center;
    padding: 1em;
    width: 60px;
    flex: 0 0 auto;
}

h1 {
    font-family: Calibri ExtraBold;
    font-size: 40px;
    margin: 0 0.5rem 0 0;
    flex: 0 0 auto;
}

#navlinks {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 16px;
    padding: 0.6em 0;
    list-style: none;
    color: white;
    font-family: Calibri Light;
    flex: 1 1 auto;
    margin: 0 1rem;
}

#navlinks a {
    color: white;
    text-decoration: none;
}

/*Search Bar & DropDown*/
#search {
    background: #fff;
    width: 320px;
    max-width: 45vw;
    display: flex;
    padding: 1px;
    border-radius: 100px;
}

#select {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    width: 55px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 100px;
}

#select img {
    width: 18px;
}

#select ul {
    position: absolute;
    top: 15%;
    left: 63%;
    list-style: none;
    background: white;
    color: #555;
    width: 250px;
    border-radius: 100px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    font-family: Calibri Light;
}

#select ul li {
    padding: 10px 20px;
    cursor: pointer;
}

#search input {
    border-radius: 100px;
    border: white;
    width: 100%;
    padding: 6px 12px;
    outline: none;
    font-size: 16px;
}

#select ul.open {
    max-height: 600px;  
}

#navpage {
    display: inline-block;   
}

#navbar {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.4rem 1rem;
}

#dropdownHeader {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    width: 55px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 100px;
}

#dropdownHeader ul{
    position: absolute;
    top: 15%;
    left: 63%;
    list-style: none;
    background: white;
    color: #555;
    width: 250px;
    border-radius: 100px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    font-family: Calibri Light;
}

#dropdownHeader ul li {
    padding: 10px 20px;
    cursor: pointer;
}

#dropdownHeader ul.open {
    max-height: 600px;  
}

#search, #profiledropdownHeader {
    flex: 0 0 auto;
    margin-left: 0.6rem;
}
